.pets{
    text-decoration: none;
    color: white;
}
.logo{
    font-family: 'Pacifico', cursive;
    font-size: 32px;
    background-color: #2D3A3A;
    color: white;
    text-align: center;
    padding: 5px;
}
h1{
    text-align: center;
}
.login-field{
    text-align: center;
}
button{
    background-color: #1976d2;
    margin-top: 10px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}